<div class="content landing">
  <div class="home">
    <div class="tab-row">
      <div class="tab-content" id="myTabContent">
        <div class="container top-pd">
          <div class="container">
            <div aria-labelledby="inbox-tab" id="inbox" class="tab-pane-hbx" role="tabpanel">
              <div class="col-xs-12">
                <%= render partial: 'form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
